
@media( min-width:698px ){
.home{
	width: 100%;
	height: 920px;
	background-image:url(../img/taxi.jpg);
	background-size: cover;
	margin-top: -10%;
}
nav{
	width: 100%;
	height: 75px;
}
.cont-info{
	width: 35%;
	height: 340px;
    margin-top:20%;
    border: 2px solid yellow;
    right:-7%;
    background-color: #FFC300;
}
.bajar{
	margin-top:4%;
}
.white-text{
	color: white;
}
.resize{
	width:35%;
	height: 20px;
}
.bg-color{
	background-color:#FFC300;
}
.seccion-iphone{
	width: 101%;
	height: 550px;
}
.bordes{
	width: 75%;
	height: 450px;
	border:2px solid white;
	margin-top: 5%;
}
.seccion-tres{
	width: 101%;
	height: 500px;
	background-image: url(../img/conduce.jpg);
	background-size:100%;
	background-repeat: no-repeat;
}
.cont-sec-tres{
	height: 89%;
	background-color: rgba(0,0,0,.5);
}
.margin-t{
	margin-top: 10%;
}
.margin{
	margin-top: 40%;
}
.map{
	width: 101%;
	height:500px;
	margin-top: -4%;
}
iframe{
	width: 100%;
	height: 250px;
	margin-top: -20%;
	
}
#viaja input{
	margin-left: -8%;
	margin-top: 5%;
	width: 30%;
	border-radius: 6%;
	color: white;
	background-color: #FFC300;
}
.fix{
	margin-top: 5%;
}
footer{
	width: 101%;
	height: 550px;
	background-color: #343030;
}
.imgL{
	width: 10%;
	height: 10%;
}
ul{
	list-style: none;
	font-size: 16px;
}
li{
	margin-top: 3%;
}
a{
	color: white;
}
.subir{
	margin-top: -7%;
}
footer p{
	margin-top:-1%;
	color: white;
}
.ocultar{
	display: none;
}
.mostrar{
	display: block;
}
.bajarT{
	margin-top: 12.5%;
}

}

@media (max-width:750px){
  .home{
	 	width: 100%;
	 	height: 290px;
	 	background-image:url(../img/taxi.jpg);
	 	background-size: 100%;
	 	background-repeat: no-repeat;
	 	margin-top: 12%;
	}
	nav{
		width: 89%;
		height: 65px;
	}
    .cont-info{
		width: 47%;
		height: 120px;
    	margin-top: 9%;
    	left: -10%;
   	 	background-color: #FFC300;
    }
    .cont-info h2{
     font-size: 15px;
    }
    #chico{
    	width: 80px;
    	margin-left: -10%;
    	font-size: 6px;
    }
	.bajar{
	margin-top:-1%;
	}
	.white-text{
		color: white;
	}
	.resize{
		width:80%;
	  height: 10px;
	}
	.bg-color{
		background-color:#FFC300;
	}
	.seccion-iphone{
		width: 104%;
		height: 230px;
		margin-top: -16%;
}
.bordes{
	width: 75%;
	height: 150px;
	border:2px solid white;
	margin-top: 12%;
	margin-left:15%;
}
.seccion-tres{
	width: 104%;
	height: 220px;
	background-image: url(../img/conduce.jpg);
	background-size:100%;
	background-repeat: no-repeat;
}
.cont-sec-tres{
	height: 99%;
	margin-top: 1%;
	background-color: rgba(0,0,0,.5);
}

.map{
	width: 104%;
	height: 500px;
}
iframe{
	width: 130%;
	height: 130px;
	margin-top: 5%;
}
input{
	border-radius: 6%;
	color: white;
	background-color: #FFC300;
	margin-top: 5%;
}
.fix{
	margin-top: 5%;
}

footer{
	width: 100%;
	height: 310px;
	background-color: #343030;
}
.imgL{
	width: 25%;
	height: 15%;
	margin-top: 3%;
}
ul{
	list-style: none;
	font-size: .7em;
}
li{
	margin-top: 2%;
}
a{
	color: white;
}
.subir{

}
footer p{
	margin-top:-1%;
	color: white;
}
.hiden{
	display: none;
}
.margin-t{
	margin-top: 8%;
}
.iphone{
	width:150%;
	margin-top: 30%;
}
}

#modal {
	display:none;
	padding: 5%;
    position:fixed;
    background-color: rgba(0,5,0,0.5);
    border:solid violet 2%;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: .9;
}
form{
	display: none;
	margin-top: 1%;
	width: 50%;
	height: 120%;
	margin-left: 25%;
	background-color:gray;
	 
}

.contP{
	width: 50%;
	height: 250px;
	background-color: white;
	margin-left: 25%; 
}
.arreglo{
	width: 264px;
	height: 30px;
	margin-left: .1%;
	margin-top: -.1%;
}
#form1 a{
color: yellow;
}
#form2 .btn-lg{
	background-color: black;
	color: white;
	width: 100%;
	margin-left: -10%;
}
#form2 input{
	margin-top: -.5%;
	margin-left: -8%;
}
#form2 select{
	margin-left: 4%;
}
#form2 .btn-color{
	background-color:#200A60;
}
#form3{
	background-color: black;
	opacity: .9;
	color: white;
}
#form3 a{
	color:blue;
}